<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.etformeln.net"
    android:versionCode="55"
    android:versionName="1.72" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
	
    <application
        android:icon="@drawable/strom_signet"
        android:label="@string/app_name" 
        android:installLocation =  "preferExternal">
        
        <activity
            android:name=".ElektrotechnikFormelnActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ohmischesgesetz"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.OHMISCHESGESETZ" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formelsendenemail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.FORMELSENDENEMAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".WiederstandundLeitwert"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.WIEDERSTANDUNDLEITWERT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".Kirchhofschesgesetz"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.kirchhofschesgesetz" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
                <activity
            android:name=".Stromdichte"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.stromdichte" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
                <activity
            android:name=".Elstromstaerke"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.elstromstaerke" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>  
                <activity
            android:name=".Wiederstandundmaterial"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.wiederstandundmaterial" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>     
                <activity
            android:name=".Zugfestigkeit"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.zugfestigkeit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>      
                <activity
            android:name=".Leistung"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.leistung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>     
                <activity
            android:name=".Wirkungsgrad"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.wirkungsgrad" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
                <activity
            android:name=".Serieschaltung"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.serieschaltung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
                <activity
            android:name=".Parallelschaltung"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.parallelschaltung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>      
                <activity
            android:name=".Galvanischeselement"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.galvanischeselement" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
                <activity
            android:name=".Magnetischedurchflutung"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.magnetischedurchflutung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
                <activity
            android:name=".Induktionsgesetz"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.induktion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> 
                <activity
            android:name=".kosten"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.kosten" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
                <activity
            android:name=".Waerme"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.waerme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
                 <activity
            android:name=".Frequenzundperiodendauer"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.frequenzperioden" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
                  <activity
            android:name=".Sterndreieck"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.sterndreieck" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>       
                  <activity
            android:name=".Transformator"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.transformator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>         
                   <activity
            android:name=".Leistungsbestimmung"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.leistungsbestimmung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>   
                   <activity
            android:name=".Infos"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.infos" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
              <activity
            android:name=".Kondensator"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.kondensator" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>       
                <activity
            android:name=".Wirkleistung"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.wirkleistung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                <activity
            android:name=".Tabs"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.tabs" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        
                <activity
            android:name=".Leistungsdreieck"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.leistungsdreieck" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                  <activity
            android:name=".Tempaufdenwiderstand"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.tempwiderstand" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>               
        <activity
            android:name=".Pegel"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.pegelverstaerkung" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Sub_elstromstaerke"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="net.etformeln.net.subElstromstaerke" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>                    
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>                                                                                     
    </application>
</manifest>